{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-sort-imports"],
  "importOrder": ["^svelte", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
